/* Page */
.svp-container {
  padding: 25px;
  background: #f4f8ff;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  color: #1e293b;
}

/* Header */
.svp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb {
  font-size: 13px;
  color: #64748b;
  margin-bottom: 5px;
}

.svp-header h2 {
  font-size: 22px;
  color: #1d4ed8;
}
.svp-title {
  font-size: 18px;
  color:black;
  font-weight: 600;
}

/* Buttons */
.btn-outline {
  background: white;
  border: 1px solid #3b82f6;
  color: #2563eb;
  padding: 8px 14px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.btn-outline:hover {
  background: #3b82f6;
  color: white;
}

/* Card */
.svp-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #dbeafe;
  width: 260px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.count-box {
  background: #3b82f6;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  margin-right: 12px;
  font-weight: bold;
}

.card-title {
  font-weight: 600;
}

.card-sub {
  font-size: 12px;
  color: #64748b;
}

/* Smart Button */
.smart-btn {
  margin-top: 15px;
  background: white;
  border: 1px solid #3b82f6;
  color: #2563eb;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.smart-btn:hover {
  background: #3b82f6;
  color: white;
}

/* Table */
.table-container {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #dbeafe;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 12px;
  font-size: 14px;
  color: #475569;
  border-bottom: 1px solid #e2e8f0;
}

td {
  padding: 12px;
  border-bottom: 1px solid #f1f5f9;
}

/* Show More */
.show-more {
  color: #2563eb;
  cursor: pointer;
  margin-left: 5px;
  font-weight: 500;
}

/* Edit Button */
.edit-btn {
  background: white;
  border: 1px solid #3b82f6;
  color: #2563eb;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #3b82f6;
  color: white;
}